/* Reset */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

mark {
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--primary-font);
  color: var(--color-text);
  background-color: var(--light-bg);
  font-size: 1.6rem;
  line-height: 1;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  transition: var(--main-transition);
  color: var(--primary-color);
}

ul {
  list-style: none;
}

/* Texts ------------------------------------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font);
  color: var(--dark-text);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
  font-family: var(----primary-font);
  margin-bottom: 0;
}

h4 {
  font-size: 3.3rem;
}

h5 {
  font-size: 2.3rem;
}

h6 {
  font-size: 1.8rem;
}

small {
  font-size: 1.4rem;
  color: var(--color-text);
  font-weight: 700;
}

p {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 500;
  margin-bottom: 3rem;
}

hr {
  display: block;
  border: 0;
  border-top: 0.5rem solid var(--primary-color);
  margin: 1rem 0;
  padding: 0;
}

.top-title {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1rem;
}

.icon-circle {
  width: 10rem;
  height: 10rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

/* Spacing & separators ------------------------------------------------------------------------------------------- */

.separator {
  width: 5.5rem;
  height: 2.2rem;
  background-image: url(../public/images/separator.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  margin-bottom: 3rem;
}

section {
  padding: 6rem 0;
}

footer {
  padding: 3rem 0;
}

/* Buttons ------------------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  transition: var(--main-transition);
}

.btn-md {
  padding: 1.4rem 2.4rem;
  margin: 1rem 0.2rem 0 0;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.2rem;
}

.btn-lg {
  font-size: 2rem;
  padding: 2rem 5rem;
  margin: 1.6rem 1.6rem 0 0;
  font-weight: 500;
  border-radius: 0.4rem;
}

.btn-primary {
  color: var(--light-text);
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-color-darken);
}

.btn-secondary {
  color: var(--dark-text);
  background-color: var(--secondary-color);
}

.btn-secondary:hover {
  background-color: var(--secondary-color-darken);
}

/* Forms ------------------------------------------------------------------------------------------- */

.form {
  width: 100%;
  border-radius: var(--standard-border-radius);
}

.form form {
  width: 100%;
}

.form form input,
.form form button.send {
  background-color: var(--footer-bg);
}

.form form input {
  width: 85%;
  border: none;
  outline: none;
  padding: 1.5rem;
  border-radius: var(--standard-border-radius);
  font-weight: 700;
  color: var(--color-text);
}

.form form button.send {
  width: 13%;
  border: none;
  outline: none;
  padding: 1.5rem;
  border-radius: var(--standard-border-radius);
  font-weight: 700;
  cursor: pointer;
}

.form form button.send::after {
  content: "\f1d8";
  font-family: "Font Awesome 5 Free";
  color: var(--color-text);
}

/* Media queries */

@media (min-width: 1170px) {
  .form form input {
    width: 80%;
  }

  .form form button.send {
    width: 18%;
  }
}

/* Global styles ------------------------------------------------------------------------------------------- */

#main-wrapper {
  position: relative;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
  overflow: hidden;
}

.content-wrap {
  width: 96%;
  max-width: 1170px;
  margin: 0 auto;
  float: none !important;
}

.main-logo {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  text-indent: -9999em;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.title {
  margin-bottom: 3rem;
  text-align: center;
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--footer-bg);
  color: var(--secondary-color);
  z-index: 999;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10rem;
}

.d-none {
  display: none;
}

.overflow-h {
  overflow: hidden;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

svg {
  width: 10rem;
  height: 10rem;
  margin-bottom: 3rem;
  animation: rotate 2s linear infinite;
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

circle {
  fill: none;
  stroke: var(--secondary-color);
  stroke-width: .5rem;
  stroke-linecap: round;
  animation: dash 1.75s ease-in-out infinite;
}

/* Page headers ------------------------------------------------------------------------------------------- */

.page-header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  text-align: center;
}

.page-header h2,
.page-header i,
.page-header a {
  color: var(--light-text);
}

.page-header i,
.page-header a.active {
  color: var(--secondary-color);
}

.page-header i {
  font-size: 1.3rem;
}

.page-header .overlay {
  padding: 10rem 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.24163168685442926) 0%,
      rgba(0, 0, 0, 0.8298669809720763) 100%);
}

.page-header .overlay .content-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-header .overlay .content-wrap .breadcrumbs {
  background: var(--footer-bg);
  padding: 1.5rem;
  border-radius: var(--standard-border-radius);
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.page-header.about-us {
  background-image: url(../public/images/nosotros-header.jpg);
}

.page-header.contact-us {
  background-image: url(../public/images/contacto-header.jpg);
}

.page-header.news {
  background-image: url(../public/images/novedades-header.jpg);
}

.page-header.gallery {
  background-image: url(../public/images/galeria-header.jpg);
}

.page-header.news-item {
  background-image: url(../public/images/novedades-item-header.jpg);
}